body {
    width:100%;
    text-align: center;
}
header{
    text-align: center;
}
.container {
   text-align: center;
   /* background-color:red; */
   width: 960px;
   height: auto;
}
/* #slidesPage2 {
    text-align: left; 
} */
#previousButton, #nextButton {
    cursor: pointer;
    font-size: 36px;
}
#previousButton {
    display:inline;
}
.signInButton, .quizButton {
    cursor: pointer;
}