.card-footer {
  
    bottom: 0;
    text-align: center;
    width: 100%;
    
}
body {
    margin: 0;
    height: 100;
    background-image: url("../../assetsJ/imagesJ/green_dust_scratch.png");
}
.card-body {
    padding-top: 100px;
}

#signup-form {
    display: none;
}

#login-form {
    display: none;
}

#canvas {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;   

}
.slim-row {
    
    word-wrap: break-word;
    
}
#updated-page {
    table-layout: fixed;
}
#navig {
    display: flex;
    margin: auto;
}
.card {
    padding-bottom: 50px;
    
}
.btn {
    width: 180px;
    height: 35px;
}
.brand-logo {
    height: 63px;
    width: 63px;
}